.heading {
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note {
    font-size: 13px;
    color: black;
}

.copyRightFooter {
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: grey;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 3px white solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}